.repl {
  position: relative;
  font: 12px/normal'Monaco','Menlo','Ubuntu Mono','Consolas','source-code-pro',monospace
}
.repl .repl-textarea {
  position: absolute;
  background: transparent;
}
.repl .repl-active-line {
  position: absolute;
  background-color: rgb(245, 245, 245);
}
.repl.repl-focus .repl-active-line {
  position: absolute;
  background-color: rgb(255, 255, 204);
}
.repl .repl-content {
  position: absolute;
  white-space: pre;
}
.repl .repl-cursor {
  position: absolute;
  color: black;
}
